## TYPO3 v4
# Ignore serveral upload and file directories.
/fileadmin/user_upload/
/fileadmin/_temp_/
/uploads/
# Ignore cache
/typo3conf/temp_CACHED*
/typo3conf/temp_fieldInfo.php
# Ignore local config which overrides typo3 config.
# You should include your local stuff with `@include('localconf_local.php');` at the end of localconf.php.
# See http://stackoverflow.com/questions/11905360/how-best-to-manage-typo3-installations-using-git for details.
/typo3conf/localconf_local.php
# Ignore system folders, you should have them symlinked.
# If not comment out the following two entries.
/typo3
/t3lib
# Ignore temp directory.
/typo3temp/
Documentation.tmpl/Includes.txt
Documentation.tmpl/Index.rst
Documentation.tmpl/Readme.rst
Documentation.tmpl/Settings.yml
Documentation.tmpl/Targets.rst
Documentation.tmpl/Administrator/Index.rst
Documentation.tmpl/ChangeLog/Index.rst
Documentation.tmpl/Configuration/Index.rst
Documentation.tmpl/Developer/Index.rst
Documentation.tmpl/Images/IntroductionPackage.png
Documentation.tmpl/Images/AdministratorManual/ExtensionManager.png
Documentation.tmpl/Images/UserManual/BackendView.png
Documentation.tmpl/Introduction/Index.rst
Documentation.tmpl/KnownProblems/Index.rst
Documentation.tmpl/Localization.de_DE.tmpl/Index.rst
Documentation.tmpl/Localization.de_DE.tmpl/README
Documentation.tmpl/Localization.de_DE.tmpl/Settings.yml
Documentation.tmpl/ToDoList/Index.rst
Documentation.tmpl/User/Index.rst
